ClientConsole8/xml-resources/web-service-references/Backend/wsdl/localhost_8080/T8Felix/Backend.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://t8felix.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://t8felix.mycompany.com/" name="Backend">
<types>
<xsd:schema>
<xsd:import namespace="http://t8felix.mycompany.com/" schemaLocation="http://localhost:8080/T8Felix/Backend?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="comprar">
<part name="parameters" element="tns:comprar"/>
</message>
<message name="comprarResponse">
<part name="parameters" element="tns:comprarResponse"/>
</message>
<message name="pagar">
<part name="parameters" element="tns:pagar"/>
</message>
<message name="pagarResponse">
<part name="parameters" element="tns:pagarResponse"/>
</message>
<portType name="Backend">
<operation name="add">
<input wsam:Action="http://t8felix.mycompany.com/Backend/addRequest" message="tns:add"/>
<output wsam:Action="http://t8felix.mycompany.com/Backend/addResponse" message="tns:addResponse"/>
</operation>
<operation name="comprar">
<input wsam:Action="http://t8felix.mycompany.com/Backend/comprarRequest" message="tns:comprar"/>
<output wsam:Action="http://t8felix.mycompany.com/Backend/comprarResponse" message="tns:comprarResponse"/>
</operation>
<operation name="pagar">
<input wsam:Action="http://t8felix.mycompany.com/Backend/pagarRequest" message="tns:pagar"/>
<output wsam:Action="http://t8felix.mycompany.com/Backend/pagarResponse" message="tns:pagarResponse"/>
</operation>
</portType>
<binding name="BackendPortBinding" type="tns:Backend">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="comprar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pagar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Backend">
<port name="BackendPort" binding="tns:BackendPortBinding">
<soap:address location="http://localhost:8080/T8Felix/Backend"/>
</port>
</service>
</definitions>